.chartWrapper {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
  margin: auto;
  border-radius: 5px;
  padding: 20px 10px;
}

.switchButton {
    cursor: pointer;
    font-size: 14px;
    padding: 6px 12px;
    background-color: #4b99e8;
    color: white;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.808);
    transition: all .2s;
    &:hover {
        background-color: #2884e0;
        color: rgb(243, 243, 243);
    }

}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
}



.closeButton {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.712);
    transition: all .2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.555);
    &:hover {
        background-color:  rgba(0, 0, 0, 0.897);
        color: rgb(243, 243, 243);
       
    }
}
