@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$darkBackground: rgba(0, 0, 0, 0.075);
$lightBackground: white;
$boxShadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
$boxShadowCentered: 0 0 10px rgba(0, 0, 0, 0.349);
$borderRadiusPrimary: 5px;
$textColor: #6d6d6d;
$textColorDark: rgb(39, 39, 39); 
$lightBlueBackground: #4b9ae849;
$bordeBlue: 1px solid rgba(0, 0, 255, 0.164);
$darkBlueBackground: #4b9ae8;
$borderBottomBlue: 2px solid $darkBlueBackground;


* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $darkBackground;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
